@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Raleway&family=Roboto+Mono:wght@300&display=swap');


* {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

body{
	background-image:url('./images/overlay.png'), url('./images/bgimage6.png');
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#ctrl{
	font-size: 21px;
	font-weight: bold;
}
#ctrl1{
	font-size: 35px;
	font-weight: bold;
}
#ctrl2{
	font-size: 21px;
	font-weight: bold;
}
.bg-primary {
  background-color: #101350 !important;
}

.bg-secondary{
	 background-color: #1E00C7 !important;
}
#gmap_canvas {
	height: 42vh;
	width: 100%;
}
.fab {
	font-size: 2rem;
}

.my-image {
	overflow: hidden;
}


.my-image img {
	transition: all 1.4s ease;
}

.my-image:hover img {
	transform: scale(1.2);
}


/*fade*/

.w3-animate-right {
	position:relative;
	animation:animateright 0.6s
}
@keyframes animateright { 
	from { 
		right:-900px;opacity:0
	} 
	to {
		right:0;opacity:1
	}
}

.w3-animate-right-1 {
	position:relative;
	animation:animateright 1.9s
}
@keyframes animateright { 
	from { 
		right:-900px;opacity:0
	} 
	to {
		right:0;opacity:1
	}
}


.w3-animate-right-2 {
	position:relative;
	animation:animateright 1.3s
}
@keyframes animateright { 
	from { 
		right:-900px;opacity:0
	} 
	to {
		right:0;opacity:1
	}
}


.w3-animate-right-3 {
	position:relative;
	animation:animateright 0.5s
}
@keyframes animateright { 
	from { 
		right:-900px;opacity:0
	} 
	to {
		right:0;opacity:1
	}
}
